@media (max-width:700px){
    header{
        align-items: center;
        justify-content: center;
    }
    .titulo{
        display:none;
    }
    nav {
        flex-direction: column;
        gap: 10px;
      
    }
    .conteudo{
        align-items: center;
        justify-content: center;
        gap:10px;
    }
    footer{
        text-align: center;
    }
    
}